<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.sooakim.sfoide">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".view.SFApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDXjY_Krz8mnPCF3k4dMvio5qny80Pszn8"/>

        <activity android:name=".view.main.MainActivity" >

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name=".view.detail.UserDetailActivity">

        </activity>
    </application>
</manifest>
